@import '~antd/es/style/themes/default.less'; 

.employee .avatarContainer {
    text-align: center;
    width: 100%;
}

.employee .uploadBtn {
    width: 145px;
    height: 145px;
    background: #FAFAFA;
}

.employee .marginTop30 {
    margin-top: 30px;
}

.employee .ant-form-item-label > label {
    width: 150px;
}

.employee .ant-form-item-control-input {
    width: 80%
}

.payroll .payrollHeader {
    width: 100%;
    background: #E8E8E8;
    /* height: 30px; */
    /* line-height: 30px; */
    padding: 10px 15px;
    margin: 15px 0;
}

.payroll .ant-form-item-label > label {
    width: 160px;
}